body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #000;
}

p {
    font-size: 13px;
    line-height: 1.5; /* Setting line-height relative to font size */
    text-align: center;
    background: url(image.jpg) no-repeat center/cover;
    background-attachment: fixed;
    background-clip: text; /* Standard property for background clipping */
    -webkit-background-clip: text; /* Safari compatibility */
    -webkit-text-fill-color: rgba(255, 255, 255, 0.062);
    background-size: 100%;
}
